              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/genomics.html">
                      基因组学
                    </a>
                  </li>
                  <li>
                    <a href="/posts/python.html">
                      Python
                    </a>
                  </li>
                  <li>
                    <a href="/posts/linux.html">
                     Linux
                    </a>
                  </li>
                  <li>
                    <a href="/posts/visualization.html">
                     可视化
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/other.html">
                      杂记
                    </a>
                  </li>
                  <li>
                    <a href="/tags.html">
                      Tags
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
