--- 
layout: default 
---

<div class="post-frame">

<div class="post-navi">
<!-- Navi -->
{% for cat in site.all_categories %}{% if page.category == cat[0] %}<a href="/">Home</a>&nbsp;>&nbsp;<a href="{{cat[2]}}">{{cat[1]}}</a>&nbsp;>&nbsp;Main text{% endif %}{% endfor %}
</div>

<div class="post-titlearea">
<!-- Title -->
<h2>{{ page.title }}</h2>
<hr class="hrline">
{% if page.tags.size > 0%}<b>标签：</b>{% for tag in page.tags %}{% if tag != "" %}<a href="/tags.html#{{ tag }}"><i>{{ tag }}</i></a>{% if forloop.index != page.tags.size %}, {% endif %}{% endif %}{% endfor %}{% endif %}
<div class="post-date">
	<span class="glyphicon glyphicon-time"></span>
	{{ page.date | date:"%Y-%m-%d" }}
</div>
</div>
<br/>

<!-- content -->
<div style="text-indent:2em; margin:10px">
{{ content }}
</div>

<div style="margin:10px">
<br/>
<b>If you link this blog, Please note linkage, Thanks!</b>
<br/>
<b>Post link：</b><a href="{{site.url}}{{page.url}}" title="{{page.name}}">{{site.url}}{{page.url}}</a>
</div>

<hr>
<!-- next and previous -->
<div style="margin:10px">
  {%if page.previous%}
  <span class="next">
    Previous:
    <a href="{{page.previous.url}}">
      {{page.previous.title}}
    </a>
  </span>
  {%endif%} 
  {%if page.next%}
  <div style="float:right">
  <span class="prev" >
    Next:
    <a href="{{page.next.url}}">
      {{page.next.title}}
    </a>
  </span>
  </div>
  {%endif%}
</div>

<hr>
<!-- Blog Comments -->
<div class="disqus" style="margin:10px">
  {% include disqus.html %} 
</div>

</div>

